.skillList
    width: 100%
    color: #000
    background: #fff
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    min-height: 100vh
    &__title
        font-size: 3rem
    &__row
        width: 80%
        display: flex
        justify-content: space-around

.skillItem
    position: relative
    width: 100px
    height: 100px
    &__value
        font-size: 2rem
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    &__name
        text-align: center
