.skillList
    width: 100%
    color: #000
    background: #fff
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    min-height: 100vh
    &__title
        font-size: 3rem
    &__row
        width: 80%
        display: flex
        justify-content: space-around

.skillItem
    &__circle
        width: 250px
        margin: auto
        position: relative
        display: flex
        justify-content: center
        align-items: center
    &__value
        font-size: 2rem
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    &__name
        text-align: center
    &__themes
        width: 250px
    &__theme
        margin: auto
        // text-align: center
